[submodule ".dioxus/plugins/core"]
	path = .dioxus/plugins/core
	url = https://github.com/DioxusLabs/cli-plugin-library.git
	branch = 0.2.1
[submodule ".dioxus/plugins/tailwind-plugin"]
	path = .dioxus/plugins/tailwind-plugin
	url = https://github.com/DioxusPluginCommunity/tailwind-plugin.git
